@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

/* default styles */
html {
  box-sizing: border-box;
  height: 100vh;
  color: #263843; 
  background-color: #F9F9F9;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}

.wrapper 
{  
width:80%;
height: 100%;
text-align:left;   
margin-left:auto;  
margin-right:auto;  
background-color: #F9F9F9; 
}

/* Typhography */

h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}

/* App styles */

.footer {
    box-sizing:border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #263843;
  }

  .app {
      position: relative;
      background-color:#F9F9F9;
  }